{% extends "base.html" %}
{% block body %}
<div class="jumbotron">

  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('home') }}">Home</a>
    </li>
      {% if current_user.is_authenticated %}
      <li class="nav-link"><a href="{{ url_for('logout') }}">Log Out</a></li>
      {% else %}
      <li class="nav-link"><a href="{{ url_for('login') }}">Log In</a></li>

      {% endif %}

  </ul>
  </div>




  {% if current_user.is_authenticated %}
    <p>Hi {{ current_user.username }}!</p>
  {% else %}
    <p>Please login or register!</p>
  {% endif %}
  {% endblock %}
