<form action='' method = "POST">
  <p>email <input type = "text" name = "email" value="{{user.email}}"/></p>
  <p>username <input type = "text" name = "username"  value="{{user.username}}"/></p>
  <p>registration_number <input type = "Integer" name = "position" value="{{user.registration_number}}"/></p>
  <p>Role <input type = "text" name = "Role" value="{{user.Role}}"/></p>
  <p>Password <input type = "text" name = "password" value="{{user.password}}"/></p>
  <p><input type = "submit" value = "Submit" /></p>
</form>
